
.contacts {
    padding: 18px 105px 30px;

    a {
        color: #41969c;
        text-decoration: underline;
        cursor: pointer;
    }

    .contacts__socialLinks {
        text-align: center;
        position: relative;

        .contacts__socialLink {
            opacity: 0;
            display: inline-block;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 40px;
            color: #fff;
            padding: 14px;
            width: 72px;
            height: 72px;
            line-height: 45px;
            border-radius: 50%;
            background-color: #41969c;
            text-align: center;
            opacity: 0.8;
            transition: all 0.3s;

            &:not(:first-child) {
                margin-left: 38px;
            }

            .fa {
                transform: rotate(20deg);
            }

            &:hover {
                opacity: 1;
                box-shadow: 0 3px 10px 0 rgba(0,0,0,0.6);
                animation: roll 0.5s;
                background-color: #018279;
                transform: rotate(340deg);
            }
        }
    }

    .contacts__formWrap.visible {
        opacity: 1;
    }

    .contacts__successEmailMessage {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 140px;
        visibility: hidden;
        z-index: 3;

        .contacts__successEmailMessageText {
            transition: opacity 1s;
            opacity: 0;
            margin-top: 115px;

            &.visible {
                opacity: 1;
            }
        }

        .fa {
            font-size: 100px;
            color: #41969c;
            transition: transform 1s;
            transform: scale(0.3);
        }

        &.visible {
            .fa {
                transform: scale(2.5);
            }
        }
    }

    .contacts__formWrap {
        margin-top: 40px;
        text-align: center;
        opacity: 0;
        transition: opacity 1.5s;
        position: relative;

        .contacts__emailTip {
            z-index: 1;
            margin-bottom: 26px;
        }

        .contacts__form {
            z-index: 1;
            display: inline-block;
            max-width: 600px;
            width: 100%;

            input, textarea {
                display: block;
                width: 100%;
                border: 2px solid #ABD3CC;
                outline: none;
                padding: 10px;
                border-radius: 8px;
                margin-bottom: 20px;
                font-family: 'SourceSansPro', Helvetica, Arial, sans-serif;
                font-size: 18px;
                transition: all 0.3s;
                box-sizing: border-box;
                resize: none;

                &:focus {
                    border-color: #87A5A0;
                }
            }

            textarea {
                height: 130px;
            }

            .contants__sendMessage {
                width: 200px;
                margin-top: 13px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .contacts {
        padding: 20px 10px !important;

        .contacts__socialLink {
            padding: 5px !important;
            width: 40px !important;
            height: 40px !important;
            line-height: 30px !important;
            font-size: 20px !important;
        }

        .contacts__socialLink:not(:first-child) {
            margin-left: 3px !important;
        }

        .contacts__formWrap {
            margin-top: 26px;

            .contacts__emailTip {
                margin-bottom: 14px;
                font-size: 16px;
            }

            input, textarea {
                margin-bottom: 10px !important;
                padding: 6px 8px !important;
                font-size: 14px !important;
            }

            .contants__sendMessage {
                width: 130px !important;
                margin-top: 8px !important;
            }
        }
    }
}
