
.skills {
    padding: 40px 105px 60px;

    .skills__list {
        margin: 10px 0 20px 0;
        padding-left: 40px;
        height: 120px;

        li {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .skills__addition {
        margin: 26px 0;
    }
}

@media (min-width: 480px) and (max-width: 600px)  {
    .skills {
        .skills__list {
            padding-left: 140px;
        }
    }
}

@media (max-width: 480px) {
    .skills {
        .skills__list {
            padding-left: 40px;
        }
    }
}

@media (max-width: 1000px) {
    .skills {
        .skills__list {
            margin: 10px 0 20px 0;
            height: auto;

            li {
                font-size: 16px !important;
            }
        }

        .skills__addition {
            margin: 8px 0 20px 0;
            font-size: 17px;
        }
    }
}
